.container{
    width: 600px;
    margin: 0;
    border: 2px dashed white;
}

@media screen and (min-width: 567px) {
    .container{
        max-width: 400px;
    }

    .logo-playlist-desktop{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 540px;
    }

    #sidebar{
        width: 250px;
    }

    main{
        padding-left: 180px;
    }

    .btn-phone{
        display: none;
    }

    .account-phone{
        display: none;
    }

    .logo-playlist-desktop{
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 742px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 972px;
    }
}