.container{
    width: 600px;
    margin: 0;
    border: 2px dashed white;
}

@media screen and (min-width: 567px) {
    .container{
        max-width: 400px;
    }

    .logo-playlist-desktop{
        display: none;
    }

    .account-desktop{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 540px;
    }

    #sidebar{
        width: 250px;
    }

    main{
        padding-left: 270px;
    }

    .btn-phone{
        display: none;
    }

    .account-phone{
        display: none;
    }

    .logo-playlist-desktop{
        display: block;
    }

    .account-desktop{
        display: block;
    }

    .btn-player{
        margin-left: 2.5rem;
    }

    .btn-right{
        margin-left: 5.5rem;
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 742px;
    }

    .btn-player{
        margin-left: 4.5rem;
    }

    .btn-right{
        margin-left: 9.5rem;
    }

    .row{
        justify-content: flex-start;
    }

    .row .card-song{
       flex-basis: calc(100% / 5);
    }
    
    .card-song:hover .fa-regular{
        display: block;
        top: 16%;
        left: 36%;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 972px;
    }

    .btn-player{
        margin-left: 10.5rem;
    }

    .btn-right{
        margin-left: 12.5rem;
    }

    .row{
        justify-content: flex-start;
    }

    .row .card-song{
       flex-basis: calc(100% / 8);
    }
}